<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WIWD</title>
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
	</head>
	<body>
		<main>
			<div id="header">
				<h1>What is Wyatt Doing?</h1>
			</div>
			<div id="content">
				<ul>
					{{range .content}}
					<li>{{.Type}}{{.CreatedAt}}</li>
					{{end}}
				</ul>
			</div>
		</main>
	</body>
</html>
